@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html{
  width: 100dvw;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 1dvw;
  
 }
 
 .body1 {
   
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    
    background-image: var(--backGroundUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    font-family: 'Itim', cursive;
   
    background-attachment: fixed;

    --text-color: linear-gradient(45deg, #924802,#b36634, #994b03);
    --backGroundUrl: url(RES/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
    --borderColor: #b46a15;
    --text-color2: #dad0c5;
    
  }

  
.body2 {

    min-height: 100dvh;
    position: relative;
    background-attachment: fixed; 
    background-image: var(--backGroundUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 1dvw;


    --text-color: linear-gradient(45deg, #141413, #020101,#b9aea7 );
    --backGroundUrl: url(RES/pexels-miguel-á-padriñán-19670.jpg);
    --borderColor: #2e2925;
    --text-color2: #3f3932;
    --ppUrl: url(RES/trafalg.jpg);

}

.git_1{
  filter: invert(1);
}

.git_0{
  filter: blur(0.001);
}





h1{
    font-family: 'Faustina', serif;
    font-weight: bold;

padding: 0;
margin: 0;
 font-size: 5rem;
 background-image: var(--text-color);
 background-size: 100%;
 -webkit-background-clip: text;
 -moz-background-clip: text;
 -webkit-text-fill-color: transparent; 
 -moz-text-fill-color: transparent;
}


#topTitle {
   
    row-gap: 0.5dvw;;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1s ease-out forwards; 
    
    font-family: 'Faustina', serif;
    

}

.multipleLogo {
display: flex;
margin: 0;
padding: 0;
width: 3dvw;

gap: 0;

}
.minia {
            
            margin: 0;
            padding: 0;
            height: 3dvh;
            width: 3dvw;
    border: none;
}

.minia1{
  margin: 0;
            padding: 0;
            height: 4dvw;
            
    border: none;

}

.MainSection {
    
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    
    justify-content: space-evenly;
    
    height: 60%;
   
}





#job{
    color: var(--borderColor);
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1.2s ease-out forwards, pulse 3s 1s infinite ease-in-out alternate;
    font-style: oblique 15deg;
    
    margin: 0;
    padding: 0% 2%;
    width: auto;
    background-image: var(--text-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

  @keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
  }


.it1-1{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    column-gap: 20%;
    text-align: center;
}



  .itemTitle-1{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 2s ease-out forwards;  
    font-size: 4rem;
    padding-bottom: 3%;
    padding-top: 0;
    font-weight: bold;
    background-image: var(--text-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}





.pp{
    position: relative;
    display: flex;
    width: 4dvw;
    border: var(--text-color2) solid 0.05dvw;
    border-radius: 4%;
  
}

 



.item{
    position: relative;
    display :flex;
    flex-direction: column;
    background: none; 
    align-items: center;
    border: none;
   row-gap: 1dvw;
    color:var(--text-color2);
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: fit-content;
    font-size: 1rem;

       
}







@keyframes apparition {

    100% {
        opacity: 1;
        transform: none;

    }


}

* {
    cursor:default;
    
}







.itemHidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }





 .uno {

    
    display: flex;
    flex-direction: row;
    column-gap: 5%;
 }

.Pminia {  
    position: relative;
     width: 7dvw;
     height: 5dvw;
}





.contact{
    
    display: flex;
   
	
    width: 80%;
    position: absolute;
    
    font-size: 1rem;
    color: var(--text-color2);
    top: 10%;
    left: 1%;
   align-items: center;
  gap: 2vw;
   background-image: var(--text-color);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-text-fill-color: transparent;
  }

  .contact1 {
    position: relative;
    padding-bottom: 0.3%;
  }
  
  .contact1:hover{

    transform: translateY(-10px);
    filter: brightness(2);
  }
 

    .itemTitle-1::before{
        content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      
      background-color: var(--borderColor);
      
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    .itemTitle-1:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }


      .beforeMinia{

        position: relative;
        
        
      }

      .beforeMinia img {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
       
       
    }
    .beforeMinia:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
       
        
    }

    

    .darkLight{
      position: absolute;
      top: 1dvw;
      right: 1dvw;
      background-image: url(RES/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
      width: 6dvw;
      height: 4dvw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      border: none;
      border-radius: 2%;
    }

    .darkLight:hover{

      width: 7dvw;
      height: 5dvw;
      border: none;

    }

   

/* RESPONSIVE PORTRAIT */

   @media (orientation: portrait) {
    

    *{padding: 0; margin: 0;}
   
    h1{font-size: 9rem; justify-content: center; display: flex;}
    #job{font-size: 5rem;}
    .itemTitle-1{font-size: 14rem; 
      justify-content: center; 
      align-items: center; 
      padding: 0; 
      margin: 0;
    } 

    body{
          justify-content: space-between;}

    .darkLight{border-radius: 59%; height: 6dvw;}
    .darkLight:hover{width: 8dvw;
                    height: 7dvw;
                    border: none;  }

    
    
    .MainSection {
    
      flex-direction: column;
      align-items: center;
      display: flex;
      height: min-content;
      justify-content: center;
      row-gap: 5dvH;
      
      

    }
    
    .item{
    
      row-gap: 4dvw;
     column-gap: 0.5dvw;
      width: 80%;
      font-size: 3.5rem;
     align-items: center;
      justify-content: center;
    }

   
 #topTitle{
  position: relative;
  display: flex;
    row-gap: 25px;
   

 }

 .contact{

  font-size: 2rem;
  flex-direction: row;
 }


.Pminia{  
    position: relative;
     width: 20dvw;
     height: 10dvw;

}
 

.minia1{

  height: 10vw;
}

  }

  