

html, body {
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-color: #121711;
    background-image: url(RES/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }


h1{

font: 3em white sans-serif;

}


#topTitle {
    color: #ffffff;
    font: 1.5em sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1s ease-out forwards; 
    

}

#MainSection {
    
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding : 2% 10% 10% 5%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 100%;
   
}


#p1{

    font: 2em sans-serif;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1.2s ease-out forwards, pulse 3s 1s infinite ease-in-out alternate;
    
}

  @keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
  }


input{display: none;}



  .itemTitle-1{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 2s ease-out forwards;  
    font-size: 3em ;
    

}

.itemTitle-1:hover{

    font-size: 4em;
    color: rgb(212, 125, 53);
}
.itemTitle-1:active{

    color: rgb(187, 90, 12) ;
}

.it1-1,.it1-2, .it1-3, .it1-4, .it1-5, .it1-6, {
align-content: center;
opacity: 1;}

 
.itemTitle-2{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 2.5s ease-out forwards;  /* temps d'animation / delai */
    font-size: 3em ;
}
.itemTitle-2:hover{

    font-size: 4em;
    color: rgb(212, 125, 53);
}
.itemTitle-2:active{

    color: rgb(187, 90, 12) ;
}

.itemTitle-3{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 3s ease-out forwards;
    font-size: 3em ;
}
.itemTitle-3:hover{

    font-size: 4em;
    color: rgb(212, 125, 53);
}
.itemTitle-3:active{

    color: rgb(187, 90, 12) ;
}
.itemTitle-4{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 3.5s ease-out forwards;
    font-size: 3em ;
}
.itemTitle-4:hover{

    font-size: 4em;
    color: rgb(212, 125, 53);
}



.item{
    position: relative;
    display :flex;
    flex-direction: column;
    
    background: none;
    overflow: hidden;
    align-items: center;
    border: none;
    
    color: #ebe6e6;
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: fit-content;
    
       
}

img {
    
    width:200px;
    max-width :200px;
    
}



@keyframes apparition {

    100% {
        opacity: 1;
        transform: none;

    }


}

* {
    cursor:default;
    
}

.footer{
    position: relative;
    display:flex;*
    width : 100%;
    
}

.contact{
    width: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    bottom: 0;
   align-items: center;
   justify-content: space-around;
}

.itemHidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }



footer{
    
    position: fixed;
    height: auto;
    background-color: red;
    bottom: 0px;
    left: 2%;
    margin-right: 4%;
    margin-bottom: 0px;
    margin-top: 5%;
    
}

