

html, body {
   
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-color: #121711;
    background-image: url(RES/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Faustina', serif;
  }


h1{
    font-family: 'Faustina', serif;
    font-weight: bold;
color: #ebded7;
padding: 0;
margin: 0;
 font-size: 5em;
}


#topTitle {
    color: #ffffff;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1s ease-out forwards; 
    padding-bottom: 2%;
    font-family: 'Faustina', serif;
    margin-bottom: 4%;

}

.multipleLogo {
display: flex;
margin: 0;
padding: 0;
width: 3vw;

gap: 0;

}
.minia {
            
            margin: 0;
            padding: 0;
            height: 3vh;
            width: 3vw;

}

#MainSection {
    
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    height: 60%;
   
}


#job{
    color: #DC811A;
    font-size: 3.5em;
    opacity: 0;
    transform: translateY(-100px);
    animation: apparition 0.4s 1.2s ease-out forwards, pulse 3s 1s infinite ease-in-out alternate;
    font-style: oblique 25deg;
    margin: 0;
    padding: 0;
}

  @keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
  }


.it1-1{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    column-gap: 20%;
    text-align: center;
}



  .itemTitle-1{
    opacity: 0;
    transform: translateX(-300px);
    animation: apparition 1s 2s ease-out forwards;  
    font-size: 2em ;
    padding-bottom: 5%;
    padding-top: 0;
    font-weight: bold;


}

.itemTitle-1:hover{

   
    color: rgb(212, 125, 53);
}
.itemTitle-1:active{

    color: rgb(187, 90, 12) ;
}





 



.item{
    position: relative;
    display :flex;
    flex-direction: column;
    background: none; 
    align-items: center;
    border: none;
   row-gap: 20px;
    color: #ebe6e6;
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: fit-content;
    font-size: 1.3em;
       
}

img {
    
    width:200px;
    max-width :200px;
    
}



@keyframes apparition {

    100% {
        opacity: 1;
        transform: none;

    }


}

* {
    cursor:default;
    
}



.contact{
    width: 80%;
    position: relative;
    display: flex;
    right: 10%;
    left: 10%;
    background-color: rgb(19, 238, 48);
    color: white;
    bottom: 0;
   align-items: center;
   justify-content: space-around;
}

.itemHidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }



  .itemTitle-1:after {    
    
    content: ""; 
    height: 2%;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    background-color: white;
  }

  .itemTitle-1:hover:after { 
    width: 100%; 
    left: 0; 
    background-color:rgb(212, 125, 53) ;
  }
